* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../Images/landing.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

.add-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: none;
}

.form-label {
    display: flex;
}

#form-container {
    padding: 50px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px black;
}

.heading h1 {
    text-transform: uppercase;
    margin: 10px;
}

.form-container {
    display: flex;
}

.form-input {
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    font-size: 15px;
 }

 .nav-bar {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    padding: 10px;
}

.nav-bar a:hover {
    background-color: white;
    color: black;
    padding: 10px;
    transition: all 0.3s linear;
}

.footer {
    position: fixed;
    bottom: 0;
    /* background-color: #08030a; */
    width: 100%;
    padding: 20px;
    color: black;
    font-weight: bold;
}

.fa-copyright {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.cc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cc-icon {
    display: flex;
    gap: 20px;
}

.cc-icon p {
    font-weight: bold;
    font-size: 20px;
}

.social-icon {
    display: flex;
    gap: 20px;
}

.social-icon a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    border: none;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0);
}

.social-icon a:hover {
    background-color: white;
    color: black;
    /* padding: 10px; */
    transition: all 0.3s linear;
}

.button {
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 50px;
    /* width: 250px; */
}

.button:hover {
    color: black;
    background-color: #abcc37;
    border: 2px solid #abcc37;
    transition: all 0.3s linear;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#logout {
    text-transform: uppercase;
    padding: 10px;
    border: none;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#logout:hover {
    background-color: white;
    color: black;
    transition: all 0.3s linear;
}