* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Images/laptop-1367298_1920.jpg);
    scroll-behavior: smooth;
}

.nav-bar {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-bar a:hover {
    background-color: white;
    color: black;
    padding: 10px;
    transition: all 0.3s linear;
}

.footer {
    position: fixed;
    bottom: 0;
    /* background-color: #08030a; */
    width: 100%;
    padding: 20px;
    color: white;
}

.fa-copyright {
    color: white;
    font-size: 20px;
}

.cc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cc-icon {
    display: flex;
    gap: 20px;
}

.cc-icon p {
    font-weight: bold;
    font-size: 20px;
}

.social-icon {
    display: flex;
    gap: 20px;
}

.social-icon a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.social-icon a:hover {
    background-color: white;
    color: black;
    padding: 10px;
    transition: all 0.3s linear;
}

.products-container {
    display: grid;
    place-items: center;
    gap: 20px;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}

.productImage {
    height: 500px;
    width: 500px;
}

#view-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 10%;
}

.btn {
    padding: 20px;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 50px;
}

.btn:hover {
    background-color: #abcc37;
    border: 2px solid #abcc37;
    transition: all 0.3s linear;
}

#quantity {
    padding: 10px;
    width: 30%;
    margin: 10px;
}

.productDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}