* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Images/laptop-1367298_1920.jpg);
    scroll-behavior: smooth;
}

.nav-bar {
    /* position: fixed; */
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    width: 100%;
    z-index: 1000;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

.nav-bar a:hover {
    background-color: black;
    color: white;
    transition: all 0.3s linear;
}

.footer {
    position: fixed;
    bottom: 0;
    /* background-color: #08030a; */
    width: 100%;
    padding: 20px;
    color: black;
}

.fa-copyright {
    color: black;
    font-size: 20px;
}

.cc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cc-icon {
    display: flex;
    gap: 20px;
}

.cc-icon p {
    font-weight: bold;
    font-size: 20px;
}

.social-icon {
    display: flex;
    gap: 20px;
}

.social-icon a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.social-icon a:hover {
    background-color: white;
    color: black;
    transition: all 0.3s linear;
}

.products-container {
    display: grid;
    place-items: center;
    gap: 20px;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    color: black;
}

.productImage {
    height: 250px;
    width: 250px;
}

#view-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 10%;
}

.btn {
    padding: 20px;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 50px;
}

.btn:hover {
    background-color: #abcc37;
    border: 2px solid #abcc37;
    transition: all 0.3s linear;
}

#quantity {
    padding: 10px;
    width: 30%;
    margin: 10px;
}

.productDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout {
    text-transform: uppercase;
    padding: 10px;
    border: none;
    background-color: rgb(0, 0, 0, 0);
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#logout:hover {
    background-color: white;
    color: black;
    transition: all 0.3s linear;
}

/* filters */
#filter {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

#cart {
    /* min-height: 100vh; */
    min-width: 100vw;
    display: none;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 100%;
    bottom: 0;
    z-index: 10;
    background-color: black;
    color: white;
    width: 100vw;
    transition: all 0.2s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}

#cart.active {
    display: flex;
    /* flex-wrap: wrap; */
    left: 0;
    /* display: none; */
}

#cart-modal {
    position: fixed;
    left: 5%;
    /* top: 5%; */
    z-index: 11;
}

.heading {
    display: flex;
    justify-content: center;
}